
.container{
    max-width: 80%;
    padding: 30px;
     margin: auto;
     box-sizing: border-box;
}
.container h1,p{
    font-family: "Audiowide", sans-serif;
    text-align: center;

}
 input,textarea{
     display: block;
     border: 2px solid black;
     border-radius: 6px;
     font: size 16px;;
     width: 80%;
     margin: 11px,0px;
     padding: 7px;
     margin: auto;
 }
form{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.btn{
    color: brown;
    background-color:palegreen;
        padding: 8px,12px;
    font-size: 20px;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
.submitMsg{
    color: rgb(121, 50, 2);
    
}